<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is a form</title>
</head>
<body>
    <h1>Please All the Information</h1>
    <form method="post">
        <label for="">Name</label>
        <input type="text", id='name', name='name'>
        <label for="">Email</label>
        <input type="email", id='email', name='email'>
        <input type="submit", value="Submit">
    </form>
</body>
</html>